#container {
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 1em;
}

#main {
  position: relative;
  border: 10px solid blue;
  max-width: min-content;
  max-height: min-content;
}

#targetBox {
  width: 20px;
  height: 20px;

  border: 2px solid red;
  position: absolute;

  /* center the box on user click */
  transform: translate(-50%, -50%);
}

#dropdown {
  position: absolute;
}
