img {
  width: 90vw;
}
#container {
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 1em;
}

#main {
  position: relative;
  border: 10px solid blue;
  max-width: min-content;
  max-height: min-content;
}

.target {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  border: 10px solid red;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%);
}
.target2 {
  width: 5vw;
  height: 5vw;

  position: relative;

  border-radius: 100%;
  border: 5px solid red;
}

.dropdown {
  position: absolute;
  border: 2px solid red;
}
